* {
	margin: 0;
	padding: 0;
}
body {
	font-size: $baseFontSize;
	max-width: 1920px;
	background-color: #fff;
	margin: 0 auto;
}
svg {
	width: 22px;
	height: 22px;
}
button {
	&:active {
		outline: none;
		border-color: transparent;
		color: $orange;
		transition-duration: .2s;
	}
	&:focus {
		outline: none;
	}
	&::-moz-focus-inner {
		border: 0;
	}
	&:hover {
		cursor: pointer;
	}
}