* {
	margin: 0;
	padding: 0;
}
body {
	color: $dark-typo;
	font-family: 'Lato';
	font-size: $baseFontSize;
	font-weight: normal;
	margin: 0 auto;
}
svg {
	height: 22px;
	width: 22px;
}
button {
	&:active {
		border-color: transparent;
		color: $orange;
		outline: none;
		transition-duration: .2s;
	}
	&:focus {
		outline: none;
	}
	&::-moz-focus-inner {
		border: 0;
	}
	&:hover {
		cursor: pointer;
	}
}