.l-header {
	font-size: rem(11);
	text-transform: uppercase;
}
.l-slider {
	margin: 0 auto;
	max-height: 690px;
	max-width: 1440px;
	overflow: hidden;
	position: relative;
	z-index: 100;
}
.l-labels {
	padding: 65px 75px;
	text-align: center;
}

.l-products {
	overflow: hidden;
}
.l-footer {
	background-color: #141414;
	color: #fff;
}
.overlay {
	background-color: rgba(0, 0, 0, .5);
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	transition-duration: .3s;
	height: 5940px;
	width: 100%;
	z-index: 9990;
}