.sup-header {
	.nav-link:hover {
		color: #000;
		text-shadow: 2px 1px #333;
		transition-duration: .3s;
	}
}
.l-slider {
	.slider__dots {
		.slider__dots_item.active {
			button:before {
				background-color: #000;
				transition-duration: .3s;
			}
		}
	}
	.slider__content {
		.slider__content_item.active {
			display: inline-block;
		}
	}
}
.selectric-items li:hover {
	background: black;
	color: #fff;
}
.products-item__preview:hover {
	.products-item__overlay {
		background-color: rgba(0, 0, 0, 0.5);
		display: block;
	}
	.add-to-card__label {
		border-bottom-color: $redSand;
	}
}
.l-footer {
	.content-item__link:hover {
		color: #fff;
	}
}
.overlay.active {
	display: block;
	.modal {
		display: block;
	}
}
.custom-checkbox:hover {
	cursor: pointer;
}
@media screen and (min-width: 480px) {
	.sup-header {
		.nav-item {
			display: inline-block;
			padding: 0;
			width: 24%;
		}
		.nav-item:last-child {
			.nav-link:after {
				border: none;
				content: '';
				display: inline-block;
				margin-left: 30px;
			}
		}
	}
	.sub-header {
		.triangle {
			top: 435px;
			left: 50%;
			&:after {
				left: -50%;
			}
		}
		.nav {
			margin: 0 auto 75px;
			text-align: center;
			width: 75%;
		}
		.nav-item {
			margin: 0 auto;
			width: auto;
		}
		.social.nav {
			margin-bottom: 20px;
			margin-top: 75px;
			width: 75%;
			.nav-item {
				width: 16%;
			}
		}
	}
	.selectric-wrapper {
		margin: 0 auto;
		width: 115px;
	}
	.l-slider {
		.slider__control {
			display: block;
		}
	}
	.sale {
		left: 50%;
		.sale__wrapper {
			left: -50%;
		}
		.sale__block {
			.left-lines, .right-lines {
				width: 60px;
				&:before {
					width: 30px;
				}
			}
		}
		.sale__btn {
			left: -50%;
		}
	}
	.l-products {
		padding: 30px 70px;
		h2 {
			&:before, &:after {
				display: block;
			}
			&:before {
				left: 15px;
			}
			&:after {
				right: 15px;
			}
		}
		.h2-line:after {
			display: block;
		}
	}
	.overlay {
		height: 5810px;
	}
}
@media screen and (min-width: 640px) {
	.sup-header {
		height: 40px;
		.call {
			float: left;
			width: 33%;
		}
		.nav {
			width: 66%;
			.nav-item {
				display: inline-block;
				width: 20%;
			}
			.nav-link {
				padding: 0 15px;
			}
		}
	}
	.sub-header {
		.nav {
			margin: 0 auto 75px;
			text-align: center;
			width: 75%;
		}
		.nav-item {
			margin: 0 auto;
			width: auto;
		}
	}
	.l-products {
		.products-wrapper {
			width: 100%;
		}
		.products-item {
			margin: 0 1% 15px;
			width: 48%;
			&:nth-child(2n) {
				float: right;
			}
			&:nth-child(2n+1) {
				float: left;
			}
		}
		.products-item__add-to-card {
			left: 50%;
			.add-to-card__label {
				position: relative;
				left: -50%;
			}
		}
		h2 {
			&:before {
				left: 30px;
			}
			&:after {
				right: 30px;
			}
		}
	}
	.l-footer {
		.content-item {
			display: inline-block;
			width: 49%;
		}
	}
	.overlay {
		height: 3815px;
	}
}
@media screen and (min-width: 768px) {
	.sup-header {
		.call {
			width: 25%;
		}
		.nav {
			padding-top: 10px;
			width: 75%;
			.nav-item {
				width: 24%;
			}
		}
	}
	.sub-header {
		.nav {
			margin: 0;
			text-align: left;
			width: auto;
			display: inline-block;
			.nav-link {
				padding: 0 5px;
			}
		}
		.social.nav {
			margin-bottom: 0;
			width: 25%;
			.nav-item {
				width: auto;
			}
			.nav-link {
				margin-right: 5px;
			}
		}
		.triangle {
			top: 404px;
		}
		.logo {
			display: inline-block;
			margin: 0;
			position: relative;
			left: -50px;
			top: 80px;
		}
	}
	.selectric-wrapper {
		margin: 100px auto 0;
	}
	.l-labels {
		.label-item {
			display: inline-block;
			.label-chevron-right:before, .label-chevron-right:after, .label-chevron-left:before, .label-chevron-left:after {
				border-top: 90px solid #fff;
				content: '';
				display: block;
				position: absolute;
				width: 25px;
			}
			.label-chevron-right:before {
				top: 25px;
				right: 5px;
				transform: rotateZ(40deg);
			}
			.label-chevron-right:after {
				top: -50px;
				right: 5px;
				transform: rotateZ(-40deg);
			}
			.label-chevron-left:before {
				top: 25px;
				left: 5px;
				transform: rotateZ(140deg);
			}
			.label-chevron-left:after {
				top: -50px;
				left: 5px;
				transform: rotateZ(-140deg);
			}
		}
		.return {
			margin: 0;
			padding: 10px 15px;
			width: 31%;
			.label-chevron-right:before {
				top: 14px;
				right: -24px;
				transform: rotateZ(-40deg);
			}
			.label-chevron-right:after {
				top: -40px;
				right: -25px;
				transform: rotateZ(-140deg);
			}
			.label-chevron-left:before {
				top: 14px;
				left: -24px;
				transform: rotateZ(40deg);
			}
			.label-chevron-left:after {
				top: -40px;
				left: -25px;
				transform: rotateZ(-40deg);
			}
		}
		.shipping{
			padding-right: 30px;
			width: 30%;
		}
		.support{
			padding-left: 30px;
			width: 30%;
		}
	}
	.overlay {
		height: 3650px;
	}
}
@media screen and (min-width: 960px) {
	.sup-header {
		.call {
			width: auto;
		}
		.nav {
			float: right;
			width: auto;
			.nav-item {
				width: auto;
			}
			.nav-link {
				&:after {
					border-right: 1px solid #000;
					content: '';
					display: inline-block;
					margin-left: 30px;
					height: 12px;
				}
				&:hover {
					color: #000;
					transition-duration: .3s;
				}
			}
		}
	}
	.sub-header {
		display: table;
		&.container {
			margin: 0;
			max-width: none;
			width: 100%;
		}
		.nav {
			display: table-cell;
			width: auto;
		}
		.logo {
			display: table-cell;
			left: 0;
			top: 20px;
		}
		.social.nav {
			display: table-cell;
			text-align: right;
			margin: 0;
			padding-right: 30px;
			width: auto;
		}
		.selectric-wrapper {
			display: table-cell;
			margin: 0;
		}
		.triangle {
			top: 189px;
		}
	}
	.l-products {
		.products-wrapper {
			padding-right: 0;
		}
		.products-item {
			margin: 0 0 15px;
			margin-right: 1%;
			width: 23%;
			&:nth-child(2n) {
				float: none;
			}
			&:nth-child(2n+1) {
				float: none;
			}
		}
	}
	.l-labels {
		.return {
			background-color: #000;
			margin: 0 30px;
		}
	}
	.l-footer {
		.content {
			margin: 0;
			max-width: none;
			display: table;
		}
		.content-item {
			display: table-cell;
			width: 25%;
		}
		.content-item__title {
			font-size: rem(14);
		}
		form label {
			max-width: 300px;
		}
	}
	.underfooter {
		margin: 50px 0 0;
		display: table;
		&.container {
			max-width: none;
			padding-left: 100px;
		}
		.wrapper, .wrapper-on-top {
			display: table-cell;
		}
		.wrapper {
			text-align: left;
		}
		.payment {
			margin-top: 20px;
		}
	}
	.overlay {
		height: 2240px;
	}
}
@media screen and (min-width: 1024px) {
	.l-products {
		h2 {
			width: 500px;
		}
	}
	.overlay {
		height: 2315px;
	}
}
