.selectric-open .selectric, .selectric {
	border-color: black;
	background-color: black;
}
.selectric .label, .selectric-items li {
	color: #fff;
	font-weight: 700;
}
.selectric-items {
	border-color: $black;
	background-color: $black;
}
.selectric .button {
	width: 18px;
	background-color: #000;
	&:after {
		border-top-color: #fff;
	}
}
.selectric-items li.highlighted {
	background: black;
	color: #fff;
}
.selectric-wrapper {
	text-align: right;
	width: 100%;
}